nav {
    postion: fixed;
    background-color: red;
    height: 100px;
    width: 100%;
     margin-top: 50px;
     font-size: 16pt;
    }
    #left {
    float: left;
    width: 50%;
    height: 500px;
    background-color: yellow;
    }
    #right {
    float: left;
    width: 50%;
    height: 500px;
    background-color: blue;
    }
    footer {
    height: 50px;
    width: 100%;
    clear: both;
    background-color: red;
    font-size: 30pt;
    }
    header {
             position: fixed;
             background-color: blue;
             font-size: 28pt;
             top: 0px;
             left: 0px;
             width: 100%;
             height: 50px;
    }
