      #high0 {
         background-color: red;
         color: white;
      }
      #high {
         background-color: red;
         font-size: 24pt;
         color: white;
      }
      #high1 {
         background-color: red;
         font-size: 24pt;
         color: white;
      }
      .medium {
         background-color: orange;
         font-size: 20pt;
      }
      .low {
         background-color: gray;
         font-size: 16pt;
      }
      .done {
         text-decoration: line-through;
      }
      
