h1 {
text-align: center;
}
body { 
         height: 600px;
         width: 450px;
         margin-left: auto;
         margin-right: auto;
         position: relative;
         background-color: blue;
}
header { 
  background-color: gray;
}
html {
  background-color: white;
}
.high {
         color: red;
         font-size: 24pt;
}
.medium {
         color: black;
         font-size: 20pt;
}
.low {
         color: white;
         font-size: 16pt;
}
newli {
         text-decoration: line-through;
}
