      #high {
         background-color: red;
         font-size: 24pt;
         color: white;
      }
       #medium {
         background-color: orange;
         font-size: 20pt;
         color: brown;
       }
       #low {
         background-color: gray;
         font-size: 16pt;
         color: black;
       }
       #done {
         background-color: black;
         font-size: 12pt;
         color: cyan;
         text-decoration: line-through;
       }
       #done1 {
         background-color: black;
         font-size: 12pt;
         color: cyan; 
         text-align: center;
       }
       section{
             overflow: auto;
       }
