h1 {
text-align: center;
}
body { 
         height: 300px;
         width: 400px;
         margin-left: auto;
         margin-right: auto;
         position: fixed;
         background-color: blue;
}
footer { 
  background-color: yellow;
}
html {
  background-color: white;
}
