      .high {
         background-color: red;
         font-size: 24pt;
      }
      .medium {
         background-color: orange;
         font-size: 20pt;
      }
      .low {
         background-color: gray;
         font-size: 16pt;
      }
      .done {
         line-through: white
      }
